@use "../../../components-dashboard/media-mixins" as *;
@use "../../../abstracts/" as *;

@media screen and (min-width: 550px) {
  @include medium-media; 

  .product{
    .container{
      padding: 0;
      article {
        &:first-of-type {
          display: flex;
          gap: 5%;

          .image-container{
          position: relative;
          width: 100%;
          
          img{
            position: absolute;
            top: 50%; 
            right: 50%;
            transform: translate(50%, -50%);
          }
        } 
        
        .product-info{
            margin: $l-spacing 0;
            .overline{
             margin: $base-spacing 0;
            }
            h2{
              margin-top: 0;
            }
          }
        }

        &:last-of-type{
          .inside-box{
            display: flex;
            div{
              margin-left: 30%;

            }
            p{
              &:first-of-type{
                margin-top: $xs-padding;
              }
            }
          }
        }
      }

      .presentation-images{
       gap: 1%;
       
      img{
        max-width: 50%; 
      }

        div{
           max-width: 49%;
           gap: 2%;
          img{
            max-width: 100%;
            height: 50%;
          }
        }
      }
    }
  }

  .you-may-like{
    padding: 0;

    .container {
      
      .recommended-products{
        @include flex(unset, unset, unset, unset);
        gap: $s-gap;

        article {
          width: 100%;

          div{
            
            .image-container {
              display: flex;
              align-items: center;
              height: 300px;
              .subtitle {
                font-size: $s-font - 0.15rem;
              }

              .category-image{
                max-width: 180px;
                width: 100%;
              }
            }
          }
        }
      }
    }
  }
} 