@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@500&display=swap");
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
}
body::-webkit-scrollbar {
  width: 1rem;
}
body::-webkit-scrollbar-track:hover {
  background-color: #e4e4e4;
}
body::-webkit-scrollbar-thumb {
  background-color: gray;
}
body::-webkit-scrollbar-thumb:hover {
  background-color: rgb(105, 104, 104);
}

.stop-scroll {
  overflow-y: hidden;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  color: black;
}

.link {
  color: #FFFFFF;
  text-decoration: none;
  transition: color 0.3s ease-in-out;
}
.link:hover {
  color: #D87D4A;
}

.hover-link:hover {
  color: #D87D4A;
}

.socials li a {
  fill: #FFFFFF;
  transition: fill 0.3s ease-in-out;
}
.socials li a:hover {
  fill: #D87D4A;
}

.container {
  padding: 0 1rem;
}

img {
  display: block;
}

.show {
  display: initial;
  color: #cd2c2c;
}

.hide {
  display: none;
}

.show-flex {
  display: flex;
}

body {
  font-family: "Manrope", sans-serif;
  font-size: 15px;
  line-height: 25px;
}

h1, h2, h3, h4, h5, h6, .overline, .subtitle {
  text-transform: uppercase;
}

h1 {
  letter-spacing: 0.125rem;
  line-height: 3.625rem;
  font-size: 3.5rem;
}

h2 {
  letter-spacing: 0.094rem;
  line-height: 2.75rem;
  font-size: 2.5rem;
}

h3 {
  letter-spacing: 0.072rem;
  line-height: 2.25rem;
  font-size: 2rem;
}

h4 {
  letter-spacing: 0.125rem;
  line-height: 2.25rem;
  font-size: 1.75rem;
}

h5 {
  letter-spacing: 0.106rem;
  line-height: 2.063rem;
  font-size: 1.5rem;
}

h6 {
  letter-spacing: 0.081rem;
  line-height: 1.5rem;
  font-size: 1.125rem;
}

.overline {
  letter-spacing: 0.625rem;
  line-height: 1.188rem;
  font-size: 0.875rem;
  color: #D87D4A;
}

.subtitle {
  letter-spacing: 0.063rem;
  line-height: 1.563rem;
  font-size: 0.875rem;
  color: #D87D4A;
}

.button-1, .button-2, .button-2b, .button-3 {
  text-transform: uppercase;
  cursor: pointer;
}

button {
  transition: fill 0.3s ease-in-out;
}
button:hover {
  fill: #D87D4A;
}

.button {
  border: none;
  background: none;
  transition: color 0.3s ease-in-out;
  font: inherit;
  cursor: pointer;
}
.button:hover {
  color: #D87D4A;
}

.button-1 {
  color: #FFFFFF;
  background-color: #D87D4A;
  border: none;
  padding: 1rem 2rem;
  transition: background-color 0.3s ease-in-out;
}
.button-1:hover {
  background-color: #FBAF85;
}

.button-2 {
  border: 1px solid #000000;
  background-color: transparent;
  padding: 1rem 2rem;
  transition: color 0.3s ease-in-out;
  transition: background-color 0.3s ease-in-out;
}
.button-2:hover {
  background-color: #000000;
  color: #FFFFFF;
}

.button-2b {
  border: none;
  background-color: #000000;
  color: #FFFFFF;
  padding: 1rem 2rem;
  transition: background-color 0.3s ease-in-out;
}
.button-2b:hover {
  background-color: #aaaaaa;
  color: #FFFFFF;
}

.button-3 {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.625rem;
  color: #aaaaaa;
  background-color: #FFFFFF;
  border: none;
}
.button-3:hover {
  color: #D87D4A;
}

input:not([type=checkbox]) {
  font-weight: bold;
  border: 2px solid #F1F1F1;
  padding: 1.25rem 1.3rem;
  border-radius: 8px;
  caret-color: #D87D4A;
  width: 100%;
}
input:focus {
  outline: none;
  border: 2px solid #D87D4A;
}

label {
  text-transform: capitalize;
  font-weight: 700;
}

.radio-button {
  font-weight: bold;
  border: 2px solid #F1F1F1;
  padding: 1rem 0;
  border-radius: 8px;
}

.input-stepper {
  display: flex;
  background-color: #F1F1F1;
}
.input-stepper input {
  all: revert;
  text-align: center;
  border: none;
  background-color: #F1F1F1;
}
.input-stepper input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.input-stepper input::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.input-stepper input:focus {
  outline: none;
}
.input-stepper button {
  color: gray;
  background-color: #F1F1F1;
  font-size: 1rem;
  border: none;
  cursor: pointer;
  padding: 0.625rem;
  padding: 1rem;
  transition: color 0.3s ease-in-out;
}
.input-stepper button:hover {
  color: orange;
}

@-webkit-keyframes pop-out {
  0% {
    transform: scale(1, 0);
  }
  100% {
    transform: scale(1, 1);
  }
}

@keyframes pop-out {
  0% {
    transform: scale(1, 0);
  }
  100% {
    transform: scale(1, 1);
  }
}
@-webkit-keyframes fade {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fade {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-webkit-keyframes pop {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.1);
  }
}
@keyframes pop {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.1);
  }
}
@media screen and (min-width: 990px) {
  .container {
    max-width: 1100px;
    padding: 0;
  }
  .nav-and-hero .navigation > .container header {
    justify-content: space-between;
    align-items: center;
  }
  .nav-and-hero .navigation > .container header > button:first-of-type {
    display: none;
  }
  .nav-and-hero .navigation > .container header > button:nth-of-type(2) {
    display: none;
  }
  .nav-and-hero .navigation > .container header > button:last-of-type {
    margin-left: 0;
  }
  .nav-and-hero .navigation > .container header .nav-toggle {
    display: none;
  }
  .nav-and-hero .navigation > .container header nav:not(.visual-nav) {
    display: inline-block;
    flex-grow: 2;
  }
  .nav-and-hero .navigation > .container header nav:not(.visual-nav) ul {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: none;
    flex-direction: row;
    gap: 2rem;
  }
  .nav-and-hero .hero .container {
    margin: 0 auto;
    max-width: 1110px;
    text-align: left;
    padding: 0;
  }
  .nav-and-hero .hero .container h1 {
    width: 46%;
  }
  .nav-and-hero .hero .container p,
.nav-and-hero .hero .container h2 {
    width: 35%;
  }
  .categories {
    padding-top: 13rem;
  }
  .categories .container article div {
    height: 200px;
  }
  .categories .container article div .subtitle {
    font-size: 1.125rem;
    padding-top: 1rem;
  }
  .categories .container article div .category-image {
    width: 150px;
  }
  .categories .container article div .button-3 {
    padding-bottom: 2rem;
  }
  .products-display {
    padding-top: 11rem;
  }
  .products-display .container article:first-of-type {
    height: 560px;
    padding: 4rem 1rem;
    color: #FFFFFF;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: unset;
    flex-direction: unset;
    text-align: left;
    background-color: #D87D4A;
    background-image: url("/assets/from-project-assets/home/desktop/pattern-circles.svg");
    background-repeat: no-repeat;
    background-position-x: -250px;
    background-position-y: 50%;
    background-size: 100%;
  }
  .products-display .container article:first-of-type img {
    width: 400px;
  }
  .products-display .container article:first-of-type div {
    width: 35%;
    align-items: flex-start;
    gap: 2rem;
  }
  .products-display .container article:first-of-type div h2 {
    font-size: 3.5rem;
  }
  .products-display .container article:first-of-type div h2,
.products-display .container article:first-of-type div p {
    margin: 0;
    padding: 0;
    width: 90%;
  }
  .products-display .container article:nth-of-type(2) {
    background-position: center;
  }
  .products-display .container article:nth-of-type(2) div {
    padding: 0 4rem;
  }
  .products-display .container article:last-of-type div:last-of-type h4 {
    padding: 0 0 2rem 4rem;
    margin: 0;
  }
  .products-display .container article:last-of-type div:last-of-type a {
    margin: 0 0 0 4rem;
  }
  .about {
    padding-top: 11rem;
  }
  .about .container {
    flex-direction: row;
  }
  .about .container div {
    width: 50%;
  }
  .about .container div:first-of-type {
    height: 588px;
    width: 50%;
    background-position: 30%;
    order: 1;
  }
  .about .container div:last-of-type {
    text-align: left;
  }
  .about .container div:last-of-type p {
    padding: 0;
  }
  .about .container div:last-of-type h2,
.about .container div:last-of-type p {
    width: 80%;
  }
  footer .container .back-to-top {
    bottom: 150px;
  }
  footer .container img {
    order: 1;
  }
  footer .container nav:first-of-type {
    width: -webkit-min-content;
    width: -moz-min-content;
    width: min-content;
    margin-left: auto;
    order: 2;
  }
  footer .container nav:last-of-type {
    order: 4;
    align-self: flex-end;
  }
  footer .container p {
    width: 70%;
  }
  footer .container p:first-of-type {
    order: 3;
  }
  footer .container p:last-of-type {
    order: 5;
  }
}/*# sourceMappingURL=home-media-large.css.map */