@use "../../../components-dashboard/media-mixins" as *;
@use "../../../abstracts/" as *;

@media screen and (min-width: 550px) {
  @include medium-media; 

  .checkout{
    .container{
      form{
        .about-payment{
          .payment{

            @include flex(unset, flex-end, wrap, unset);
            gap: 2%;
            div{
              margin-top: 24px;
              width: 49%;
              label{
                width: 100%;
              }
            }

            &:nth-of-type(2){
              div{
                &:first-of-type{
                  width: 100%;
                }
              }
            }

            &:nth-of-type(3){
               .payment-method{
                display: flex;
                flex-direction: column;
                width: 100%;
                
                .radio-button{
                  align-self: flex-end;
                  align-items: center;
                  // padding: 15px;
                  
                }
              }
            }
          }
        }
      }
    }
  }
} 