@use "../../../components-dashboard/media-mixins" as *;
@use "../../../abstracts/" as *;

@media screen and (min-width: 550px) {
  @include medium-media; 

  .checkout{
    .container{
      form{
        .about-payment{
          .payment{

            flex-wrap: wrap;
         flex-direction: row;
            div{
              width: 50%;
            }


          }
        }
      }
    }
  }
} 