@use "../../../abstracts/" as *;

@media screen and (min-width: 770px) {
  .generated-search-result {
    // padding-top: $s-top-category-section;
    .container {
      display: flex;
      gap: 1rem;
        .filters {
            all: unset;
            display: block;
            max-width: 250px;
            

            .filter-navigation{
                display: none;
                
            }

            .filter-container{
                background-color: $gray;
                border-radius: $base-border-radius;
                padding:0.5rem 1rem;
            
            }

            .generated-filters{
                background: none;
                padding: 0;
            }
        }

        .display-search-results {
            width: 100%;
            
            .manipulate-result{

                .about-filters{
                    .select-pagination {
                    display: block;
                    }

                    .select-box{
                       min-width: 190px;
                       max-width: 250px;
                    }
        
                }

            }

            .filter-button{
                display: none;
            }
        }
    }
  }
}
