@use "../../../components-dashboard/media-mixins" as *;
@use "../../../abstracts/" as *;

@media screen and (min-width: 990px) {
  @include large-media;

  .product {
    .container {
      article{
        &:first-of-type{
          gap: 10%;

          .image-container{
              width: 50%;
          }
          .product-info{
            max-width: 40%;
          }

        }

        &:last-of-type{ 
          display: flex;
          gap: 15%;

         .features{
          width: 50%;
         }
         .inside-box{
          display: inline;
          

          div{
            margin: 0;
          }
         } 
        }
      }
    }
  }
}
