@use "variables" as *;
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@500&display=swap');

$s-font: 15px;
$m-font: 18px;
$l-font: 28px;
$xl-font: 36px;
$h1-font-size: 56px;
$h2-font-size: 40px;

$h1-line-height: 58px;

body{
    font-family: 'Manrope', sans-serif;
    font-size: 15px;
    line-height: 25px;
}


h1, h2, h3, h4, h5, h6, .overline, .subtitle{
  text-transform: uppercase;
}

h1{
    letter-spacing: 2px;
    line-height: 58px;
    font-size: 56px;
}

h2{
    letter-spacing: 1.5px;
    line-height: 44px;
    font-size: 40px;
}

h3{
    letter-spacing: 1.15px;
    line-height: 36px;
    font-size: 32px;
}

h4{
    letter-spacing: 2px;
    line-height: 36px;
    font-size: 28px;
}

h5{
    letter-spacing: 1.7px;
    line-height: 33px;
    font-size: 24px;
}

h6{
    letter-spacing: 1.3px;
    line-height: 24px;
    font-size: 18px;
}

.overline{
    letter-spacing: 10px;
    line-height: 19px;
    font-size: 14px;
    color: $orange;
}

.subtitle{
    letter-spacing: 1px;
    line-height: 25px;
    font-size: 14px;
    color: $orange;
}

