@use "../../../components-dashboard/media-mixins" as *;
@use "../../../abstracts/" as *;

@media screen and (min-width: 550px) {
  @include medium-media;


  .generated-search-result {
    .container {
      padding: 0;
      .display-search-results {


           
        .search-text-result{
            font-size: 1.5rem;
            padding: 1rem 0 ;
            margin: 0;
            word-spacing: 0.1rem;
            border-bottom: 1px solid $black;
            .result-count{
                font-size: 1.8rem;
            }

            .result-text{
                font-weight: 800;
                font-size: 1.8rem;
            }
        }


        .about-filters {
          flex-wrap: nowrap;

          button {
            &:last-of-type {
              display: block;
              
            }

            .button{
            }
          }
        }

        .generated-products{
          grid-template-columns: repeat(auto-fill , minmax(197px, 1fr));
        }
      }

      .pagination{
        .pagination-list{
          .pagination-element{
            padding: 0.5rem 1rem;
        
          }
        }
      }
    }
  }

  .template-category {
    padding-top: $xxl-spacing;
    .container {
      article {
        padding-bottom: $xxl-spacing;

        h2 {
          font-size: $h2-font-size;
          width: 380px;
        }
      }
    }
  }
}
