@use "../../../components-dashboard/media-mixins" as *;
@use "../../../abstracts/" as *;

@media screen and (min-width: 550px) {
  @include medium-media;


  .generated-search-result {
    .container {
       padding: 0;
      .display-search-results {
        .about-filters {
          flex-wrap: nowrap;

          button {
            &:last-of-type {
              display: block;
              
            }

            .button{
            }
          }
        }
      }
    }
  }

  .template-category {
    padding-top: $xxl-spacing;
    .container {
      article {
        padding-bottom: $xxl-spacing;

        h2 {
          font-size: $h2-font-size;
          width: 380px;
        }
      }
    }
  }
}
