@use "../../../components-dashboard/media-mixins" as *;
@use "../../../abstracts/" as *;

@media screen and (min-width: 990px) {
  
 @include large-media;

    .template-category{ 
        padding-top:$l-top-category-section;
        .container{
            article{
                padding-bottom: $l-top-category-section;

                display: flex;
                align-items: center;
                text-align: start;
                // justify-content: center;
                gap: $xxl-gap;

                .image-container{
                    width: 50%;
                    margin: 0;
                   
                    // width: 500px;
                //     position:relative;
                //     height: 560px;
                //     max-width: 540px;
                //     width: 100%;

                    img{
                        max-width: 700px;
                        width: 100%;
                        // max-width: 300px;
                        // width: 50%; 
                //         position: absolute;
                //         top: 50%; 
                //         right: 50%;
                //         transform: translate(50%, -50%);
                    }
                }

                div{
                    &:last-of-type{
                        // background-color: red;
                        width: 30%;
                        min-width: 460px;
                        align-items: flex-start;
                    }
                }
                
                h2{
                  
                    margin-top: 0;
                }

                &:nth-of-type(even){
                    .image-container{
                        order: 1;
                    }
                }
            }
        }
    }
}