@use "../default" as *;

@use "../mixins" as *;

@use "../variables" as *;

@use "../spacings" as *;

@use "../typography" as *;

@use "../buttons";

// font sizes for phone display

.nav-and-hero {
  background-color: $black;

  > .container {
    border-bottom: 1px solid $out-of-color-palette-gray;
    padding: $base-spacing;
    // width: 100vw

    button {
      padding: 0;
      background: none;
      border: none;
      cursor: pointer;
      fill: $white;
      width: 25px;

      &:hover {
        fill: $orange;
      }
    }

    header {
      @include flex(space-between, unset, unset, unset);

      height: 60px;
      a {
        align-self: center;
        img {
          width: 80px;
        }
      }
      nav {
        display: none;
      }

      .nav-toggle {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 250px;
        width: 100%;
        position: absolute;
        // border-radius: $base-border-radius;
        top: 90px;
        left: 0px;
        // left: 4%; pentru medium size
        background-color: $orange;
        z-index: 1;

        ul {
          width: 100%;
          align-items: center;
          display: flex;
          flex-direction: column;
          gap: 30px;
          font-size: 20px;
          li {
            a {
              &:hover {
                color: $black;
              }
            }
          }
        }
      }


      .toggle-close{
        svg{
          display: flex;
          align-items: center;
          fill: white;
          &:hover{
            fill: $orange;
          }
          path{
            width: 16px;
            height: 15px;
          }
        }
      }
    }
  }

  .hero {
    height: 90vh;
    background-image: url(/assets/Images/Home-images/d1094b5234f1c27ccfbb091660517ebe.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
    @include flex(center, center, unset, unset);

    .container {
      max-width: 500px;
      color: $white;
      text-align: center;

      .overline {
        color: $white;
      }

      h1 {
        font-size: $xl-font;
         line-height: 40px;
         margin: $m-spacing 0;
      }

      button {
        margin-top: 20px;
      }
    }
  }
}

.categories {
  padding-top: $section-spacing;

  .container {
    @include flex(center, unset, unset, column);
    gap: 70px;
    padding: 0;
    article {
      div {
        height: 150px;
        border-radius: $base-border-radius;
        @include flex(flex-end, center, unset, column);
        background-color: $gray;
        .category-image {
          width: 100px;
        }

        .subtitle {
          color: $black;
          font-size: $s-font;
        }

        a {
          background-color: $gray;
          padding-bottom: $base-padding;
        }
      }
    }
  }
}

.products-display {
  padding-top: $section-spacing;

  .container {
    article {
      &:not(:first-of-type) {
        margin-top: $m-spacing;
      }
      border-radius: $base-border-radius;

      &:first-of-type,
      &:first-of-type > div {
        @include flex(center, center, unset, column);
      }

      &:first-of-type {
        padding: $xl-spacing $base-spacing;
        color: $white;
        text-align: center;
        background-color: $orange;
        background-image: url("/assets/from-project-assets/home/desktop/pattern-circles.svg");
        background-repeat: no-repeat;
        background-position-x: 50%;
        background-position-y: -100px;
        background-size: 170%;

        img {
          width: 200px;
        }

        p {
          padding: $base-padding;
        }

        h2 {
          margin: 40px 10px 10px 10px;
          font-size: $xl-font;
        }
      }

      &:nth-of-type(2) {
        height: 320px;
        @include flex(flex-start, center, unset, unset);
        background-image: url("/assets/Images/Devices/Xiaomi/Smart-Watches/Mi-Watch/version-6.jpg");
        background-size: cover;
        background-position: 30%;

        div {
          padding: 0 $m-spacing;
          h4 {
            margin-top: 0;
            width: 60%;
          }
        }
      }

      &:last-of-type {
        //  height: 500px; // Pentru desktop
        position: relative;
        div {
          height: 200px;
          margin-top: $m-spacing;

          &:first-of-type {
            border-radius: $base-border-radius;
            background-image: url("/assets/Images/Devices/Garmin/Garmin-vivomove/Prezentation2.jpg");
            background-size: cover;
            background-position: center;
          }

          &:last-of-type {
            border-radius: $base-border-radius;
            background-color: $gray;
            // padding: 0 $base-spacing;
            @include flex(center, flex-start, unset, column);

            h4 {
              padding: 0 0 $m-spacing $m-spacing;
              margin: 0;
            }

            button {
              margin: 0 0 0 $m-spacing;
            }
          }
        }
      }
    }
  }
}

.about {
  padding-top: $section-spacing;
  padding-bottom: $section-spacing;

  .container {
    text-align: center;
    @include flex(center, center, unset, column);
    div {
      &:first-of-type {
        border-radius: $base-border-radius;
        height: 300px;
        width: 100%;
        background-image: url("/assets/Images/Devices/Xiaomi/Smart-Watches/Mi-watch-S1-Pro/photos/prezentation-3.jpg");
        background-size: cover;
        background-position: left;
      }

      &:last-of-type {
        h2 {
          font-size: $l-font;
        }

        p {
          color: $out-of-color-palette-gray;
        }
        span {
          color: $orange;
        }
      }
    }
  }
}

footer {
  position: relative;
  background-color: $black;

  .container {
    @include flex(center, center, wrap, column);
    padding: $m-spacing;
    gap: $m-spacing;

    text-align: center;

    &::before {
      content: "";
      width: 101px;
      height: 4px;
      background-color: $orange;
      position: absolute;
      top: 0;
      // nu uita ca aici probabil va trebuii sa ii dai un left
    }

    img {
      width: 80px;
    }

    p {
      color: $out-of-color-palette-gray;
    }
    nav {
      .socials {
        @include flex(center, center, unset, unset);
        gap: $base-spacing;
        a {
          fill: $white;
          font-size: 1.5rem;
          &:hover {
            fill: $orange;
          }
        }
      }
    }
  }
}
