@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@500&display=swap");
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

a {
  color: #000000;
  text-decoration: none;
}
a:hover {
  color: #D87D4A;
}

.container {
  padding: 0 15px;
}

img {
  display: block;
}

body {
  font-family: "Manrope", sans-serif;
  font-size: 15px;
  line-height: 25px;
}

h1, h2, h3, h4, h5, h6, .overline, .subtitle {
  text-transform: uppercase;
}

h1 {
  letter-spacing: 2px;
  line-height: 58px;
  font-size: 56px;
}

h2 {
  letter-spacing: 1.5px;
  line-height: 44px;
  font-size: 40px;
}

h3 {
  letter-spacing: 1.15px;
  line-height: 36px;
  font-size: 32px;
}

h4 {
  letter-spacing: 2px;
  line-height: 36px;
  font-size: 28px;
}

h5 {
  letter-spacing: 1.7px;
  line-height: 33px;
  font-size: 24px;
}

h6 {
  letter-spacing: 1.3px;
  line-height: 24px;
  font-size: 18px;
}

.overline {
  letter-spacing: 10px;
  line-height: 19px;
  font-size: 14px;
  color: #D87D4A;
}

.subtitle {
  letter-spacing: 1px;
  line-height: 25px;
  font-size: 13px;
  color: #D87D4A;
}

.button-1, .button-2, .button-2b, .button-3 {
  text-transform: uppercase;
  cursor: pointer;
}

.button-1 {
  color: #FFFFFF;
  background-color: #D87D4A;
  border: none;
  padding: 15px 30px;
}
.button-1:hover {
  background-color: #FBAF85;
}

.button-2 {
  border: 1px solid #000000;
  background-color: #FFFFFF;
  padding: 15px 30px;
}
.button-2:hover {
  background-color: #000000;
  color: #FFFFFF;
}

.button-2b {
  border: none;
  background-color: #000000;
  color: #FFFFFF;
  padding: 15px 30px;
}
.button-2b:hover {
  background-color: gray;
  color: #FFFFFF;
}

.button-3 {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  color: gray;
  background-color: #FFFFFF;
  border: none;
}
.button-3:hover {
  color: #D87D4A;
}

.nav-and-hero {
  background-color: #000000;
}
.nav-and-hero > .container {
  border-bottom: 3px solid rgba(90, 90, 90, 0.992);
  padding: 15px;
}
.nav-and-hero > .container button {
  padding: 0;
  align-items: center;
  background: none;
  border: none;
  cursor: pointer;
  fill: #FFFFFF;
}
.nav-and-hero > .container button:hover {
  fill: #D87D4A;
}
.nav-and-hero > .container header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: none;
  flex-direction: none;
  height: 60px;
}
.nav-and-hero > .container header nav {
  display: none;
}
.nav-and-hero .hero {
  height: 500px;
  background-image: url(/assets/Images/Home-images/d1094b5234f1c27ccfbb091660517ebe.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: none;
  flex-direction: column;
}
.nav-and-hero .hero .container {
  color: white;
  text-align: center;
}
.nav-and-hero .hero .container button {
  margin-top: 20px;
}

.categories .container {
  padding-top: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 70px;
}
.categories .container article {
  height: 150px;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  background-color: #F1F1F1;
  position: relative;
}
.categories .container article .category-image {
  position: absolute;
  top: -60px;
  width: 100px;
}
.categories .container article .subtitle {
  color: #000000;
}
.categories .container article a {
  background-color: #F1F1F1;
  padding-bottom: 15px;
}

.products-display .container article {
  background-color: #D87D4A;
  background-image: url("/assets/from-project-assets/home/desktop/pattern-circles.svg");
  background-position: center;
  background-size: cover;
}
.products-display .container article img {
  width: 150px;
}/*# sourceMappingURL=dashboard.css.map */