@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@500&display=swap");
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

a {
  color: #FFFFFF;
  text-decoration: none;
  transition: color 0.3s ease-in-out;
}
a:hover {
  color: #D87D4A;
}

.socials li a {
  fill: #FFFFFF;
  transition: fill 0.3s ease-in-out;
}
.socials li a:hover {
  fill: #D87D4A;
}

.container {
  padding: 0 1rem;
}

img {
  display: block;
}

body {
  font-family: "Manrope", sans-serif;
  font-size: 15px;
  line-height: 25px;
}

h1, h2, h3, h4, h5, h6, .overline, .subtitle {
  text-transform: uppercase;
}

h1 {
  letter-spacing: 0.125rem;
  line-height: 3.625rem;
  font-size: 3.5rem;
}

h2 {
  letter-spacing: 0.094rem;
  line-height: 2.75rem;
  font-size: 2.5rem;
}

h3 {
  letter-spacing: 0.072rem;
  line-height: 2.25rem;
  font-size: 2rem;
}

h4 {
  letter-spacing: 0.125rem;
  line-height: 2.25rem;
  font-size: 1.75rem;
}

h5 {
  letter-spacing: 0.106rem;
  line-height: 2.063rem;
  font-size: 1.5rem;
}

h6 {
  letter-spacing: 0.081rem;
  line-height: 1.5rem;
  font-size: 1.125rem;
}

.overline {
  letter-spacing: 0.625rem;
  line-height: 1.188rem;
  font-size: 0.875rem;
  color: #D87D4A;
}

.subtitle {
  letter-spacing: 0.063rem;
  line-height: 1.563rem;
  font-size: 0.875rem;
  color: #D87D4A;
}

.button-1, .button-2, .button-2b, .button-3 {
  text-transform: uppercase;
  cursor: pointer;
}

button {
  transition: fill 0.3s ease-in-out;
}
button:hover {
  fill: #D87D4A;
}

.button-1 {
  color: #FFFFFF;
  background-color: #D87D4A;
  border: none;
  padding: 1rem 2rem;
  transition: background-color 0.3s ease-in-out;
}
.button-1:hover {
  background-color: #FBAF85;
}

.button-2 {
  border: 1px solid #000000;
  background-color: transparent;
  padding: 1rem 2rem;
  transition: color 0.3s ease-in-out;
  transition: background-color 0.3s ease-in-out;
}
.button-2:hover {
  background-color: #000000;
  color: #FFFFFF;
}

.button-2b {
  border: none;
  background-color: #000000;
  color: #FFFFFF;
  padding: 1rem 2rem;
  transition: background-color 0.3s ease-in-out;
}
.button-2b:hover {
  background-color: #aaaaaa;
  color: #FFFFFF;
}

.button-3 {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.625rem;
  color: #aaaaaa;
  background-color: #FFFFFF;
  border: none;
}
.button-3:hover {
  color: #D87D4A;
}

input:not([type=checkbox]) {
  font-weight: bold;
  border: 2px solid #F1F1F1;
  padding: 1.25rem 1.3rem;
  border-radius: 8px;
  caret-color: #D87D4A;
  width: 100%;
}
input:focus {
  outline: none;
  border: 2px solid #D87D4A;
}

label {
  text-transform: capitalize;
  font-weight: 700;
}

.radio-button {
  font-weight: bold;
  border: 2px solid #F1F1F1;
  padding: 1rem 0;
  border-radius: 8px;
}

@-webkit-keyframes pop-out {
  0% {
    transform: scale(1, 0);
  }
  100% {
    transform: scale(1, 1);
  }
}

@keyframes pop-out {
  0% {
    transform: scale(1, 0);
  }
  100% {
    transform: scale(1, 1);
  }
}
@-webkit-keyframes fade {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fade {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.navigation {
  background-color: #000000;
}
.navigation > .container {
  border-bottom: 1px solid gray;
  padding: 1rem;
}
.navigation > .container .display-none {
  display: none;
}
.navigation > .container button {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  background: none;
  border: none;
  cursor: pointer;
  fill: #FFFFFF;
  width: 40px;
}
.navigation > .container button:hover {
  fill: #D87D4A;
}
.navigation > .container header {
  display: flex;
  align-items: unset;
  justify-content: space-between;
  flex-wrap: wrap;
  flex-direction: unset;
  gap: 1rem;
}
.navigation > .container header a {
  align-self: center;
}
.navigation > .container header a img {
  transition: transform 0.2s ease-in-out;
  width: 80px;
}
.navigation > .container header a img:hover {
  transform: scale(1.1);
}
.navigation > .container header nav {
  display: none;
}
.navigation > .container header .nav-toggle {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  position: absolute;
  top: 8rem;
  left: 0px;
  background-color: #D87D4A;
  -webkit-animation: pop-out 0.3s ease-in-out;
          animation: pop-out 0.3s ease-in-out;
  transform-origin: top;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
}
.navigation > .container header .nav-toggle ul {
  width: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  font-size: 1.3rem;
  text-align: center;
}
.navigation > .container header .nav-toggle ul li {
  width: 100%;
}
.navigation > .container header .nav-toggle ul li:not(:first-of-type) {
  border-top: 1px solid #000000;
}
.navigation > .container header .nav-toggle ul li:last-of-type {
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
}
.navigation > .container header .nav-toggle ul li:hover {
  background-color: #FBAF85;
}
.navigation > .container header .nav-toggle ul li a {
  display: block;
  padding: 1rem;
  -webkit-animation: fade 0.7s ease-in-out;
          animation: fade 0.7s ease-in-out;
}
.navigation > .container header .nav-toggle ul li a:hover {
  color: #FFFFFF;
}
.navigation > .container header .toggle-close svg {
  display: flex;
  align-items: center;
  fill: white;
}
.navigation > .container header .toggle-close svg:hover {
  fill: #D87D4A;
}
.navigation > .container header .search-container {
  align-self: center;
  position: relative;
  width: 100%;
  max-width: 350px;
  margin: 0 auto;
}
.navigation > .container header .search-container input {
  box-sizing: border-box;
  width: 100%;
  padding: 0.5rem;
}
.navigation > .container header .search-container button {
  position: absolute;
  background-color: transparent;
  fill: black;
  height: 100%;
  width: 50px;
  top: 0;
  right: 0;
  border-bottom-right-radius: 8px;
  border-top-right-radius: 8px;
  transition: background-color 0.2s ease-in-out;
}
.navigation > .container header .search-container button svg {
  border-bottom-right-radius: 8px;
  border-top-right-radius: 8px;
  background-color: white;
  transition: background-color 0.2s ease-in-out;
}
.navigation > .container header .search-container button:hover {
  background-color: #D87D4A;
}
.navigation > .container header .search-container button:hover svg {
  background-color: #D87D4A;
}

.hero {
  height: 90vh;
  background-image: url(/assets/Images/Home-images/d1094b5234f1c27ccfbb091660517ebe.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: unset;
  flex-direction: unset;
}
.hero .container {
  max-width: 500px;
  color: #FFFFFF;
  text-align: center;
  margin: 0 auto;
}
.hero .container .overline {
  color: #FFFFFF;
}
.hero .container h1 {
  font-size: 2.25rem;
  line-height: 2.5rem;
  margin: 2rem 0;
}
.hero .container button {
  margin-top: 1.25rem;
}

.categories {
  padding: 6.1rem 1rem 0 1rem;
}
.categories .container {
  display: flex;
  align-items: unset;
  justify-content: center;
  flex-wrap: unset;
  flex-direction: column;
  gap: 6.25rem;
  padding: 0;
}
.categories .container article:hover {
  z-index: 1;
}
.categories .container article div {
  transition: transform 0.2s ease-in-out;
  border: none;
  height: 160px;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex-wrap: unset;
  flex-direction: column;
  background-color: #F1F1F1;
}
.categories .container article div:hover {
  transform: scale(1.1);
  box-shadow: 0px 0px 20px 1px rgb(150, 150, 150);
  border-radius: 8px;
}
.categories .container article div .category-image {
  width: 100px;
}
.categories .container article div .subtitle {
  color: #000000;
  font-size: 1rem;
}
.categories .container article div a {
  background-color: #F1F1F1;
  padding-bottom: 1rem;
}

.products-display {
  padding-top: 6.1rem;
}
.products-display .container article {
  border-radius: 8px;
  transition: box-shadow 0.3s ease-in-out;
}
.products-display .container article:not(:first-of-type) {
  margin-top: 2rem;
}
.products-display .container article:first-of-type, .products-display .container article:first-of-type > div {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: unset;
  flex-direction: column;
}
.products-display .container article:first-of-type {
  padding: 4rem 1rem;
  color: #FFFFFF;
  text-align: center;
  background-color: #D87D4A;
  background-image: url("/assets/from-project-assets/home/desktop/pattern-circles.svg");
  background-repeat: no-repeat;
  background-position-x: 50%;
  background-position-y: -100px;
  background-size: 170%;
}
.products-display .container article:first-of-type img {
  width: 200px;
}
.products-display .container article:first-of-type p {
  padding: 1rem;
}
.products-display .container article:first-of-type h2 {
  margin: 2.5rem 0.625rem 0.625rem 0.625rem;
  font-size: 2.25rem;
}
.products-display .container article:nth-of-type(2) {
  height: 320px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: unset;
  flex-direction: unset;
  background-image: url("/assets/Images/Devices/Xiaomi/Smart-Watches/Mi-Watch/prezentation-pictures/mi-watch-display.jpg");
  background-size: cover;
  background-position: 30%;
}
.products-display .container article:nth-of-type(2) div {
  padding: 0 2rem;
}
.products-display .container article:nth-of-type(2) div h4 {
  margin-top: 0;
  width: 60%;
}
.products-display .container article:last-of-type {
  position: relative;
}
.products-display .container article:last-of-type div {
  height: 200px;
  margin-top: 2rem;
}
.products-display .container article:last-of-type div:first-of-type {
  border-radius: 8px;
  background-image: url("/assets/Images/Devices/Garmin/Garmin-vivomove/prezentation-pictures/prezentation-dashboard.jpg");
  background-size: cover;
  background-position: center;
}
.products-display .container article:last-of-type div:last-of-type {
  border-radius: 8px;
  background-color: #F1F1F1;
  transition: box-shadow 0.2s ease-in-out;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-wrap: unset;
  flex-direction: column;
}
.products-display .container article:last-of-type div:last-of-type h4 {
  padding: 0 0 2rem 2rem;
  margin: 0;
  width: 90%;
}
.products-display .container article:last-of-type div:last-of-type button {
  margin: 0 0 0 2rem;
}
.products-display .container article:last-of-type div:last-of-type:hover {
  box-shadow: 0px 0px 20px 1px rgb(150, 150, 150);
}
.products-display .container article:not(:last-of-type):hover {
  box-shadow: 0px 0px 20px 1px rgb(150, 150, 150);
}

.about {
  padding-top: 6.1rem;
  padding-bottom: 6.1rem;
}
.about .container {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: unset;
  flex-direction: column;
}
.about .container div:first-of-type {
  border-radius: 8px;
  height: 300px;
  width: 100%;
  background-image: url("/assets/Images/Devices/Xiaomi/Smart-Watches/Mi-watch-S1-Pro/prezentation-pictures/prezentation-1.jpg");
  background-size: cover;
  background-position: left;
}
.about .container div:last-of-type h2 {
  font-size: 1.75rem;
}
.about .container div:last-of-type p {
  color: gray;
}
.about .container div:last-of-type span {
  color: #D87D4A;
}

footer {
  position: relative;
  background-color: #000000;
}
footer .container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: column;
  padding: 2rem 1rem;
  gap: 2rem;
  text-align: center;
}
footer .container::before {
  content: "";
  width: 101px;
  height: 4px;
  background-color: #D87D4A;
  position: absolute;
  top: 0;
}
footer .container img {
  transition: transform 0.2s ease-in-out;
  width: 80px;
}
footer .container img:hover {
  transform: scale(1.1);
}
footer .container p {
  color: gray;
}
footer .container nav .socials {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: unset;
  flex-direction: unset;
  gap: 1rem;
}/*# sourceMappingURL=dashboard.css.map */