@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@500&display=swap");
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

a {
  color: #FFFFFF;
  text-decoration: none;
}
a:hover {
  color: #D87D4A;
}

.container {
  padding: 0 15px;
}

img {
  display: block;
}

body {
  font-family: "Manrope", sans-serif;
  font-size: 15px;
  line-height: 25px;
}

h1, h2, h3, h4, h5, h6, .overline, .subtitle {
  text-transform: uppercase;
}

h1 {
  letter-spacing: 2px;
  line-height: 58px;
  font-size: 56px;
}

h2 {
  letter-spacing: 1.5px;
  line-height: 44px;
  font-size: 40px;
}

h3 {
  letter-spacing: 1.15px;
  line-height: 36px;
  font-size: 32px;
}

h4 {
  letter-spacing: 2px;
  line-height: 36px;
  font-size: 28px;
}

h5 {
  letter-spacing: 1.7px;
  line-height: 33px;
  font-size: 24px;
}

h6 {
  letter-spacing: 1.3px;
  line-height: 24px;
  font-size: 18px;
}

.overline {
  letter-spacing: 10px;
  line-height: 19px;
  font-size: 14px;
  color: #D87D4A;
}

.subtitle {
  letter-spacing: 1px;
  line-height: 25px;
  font-size: 13px;
  color: #D87D4A;
}

.button-1, .button-2, .button-2b, .button-3 {
  text-transform: uppercase;
  cursor: pointer;
}

.button-1 {
  color: #FFFFFF;
  background-color: #D87D4A;
  border: none;
  padding: 15px 30px;
}
.button-1:hover {
  background-color: #FBAF85;
}

.button-2 {
  border: 1px solid #000000;
  background-color: transparent;
  padding: 15px 30px;
}
.button-2:hover {
  background-color: #000000;
  color: #FFFFFF;
}

.button-2b {
  border: none;
  background-color: #000000;
  color: #FFFFFF;
  padding: 15px 30px;
}
.button-2b:hover {
  background-color: #aaaaaa;
  color: #FFFFFF;
}

.button-3 {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  color: #aaaaaa;
  background-color: #FFFFFF;
  border: none;
}
.button-3:hover {
  color: #D87D4A;
}

.nav-and-hero {
  background-color: #000000;
}
.nav-and-hero > .container {
  border-bottom: 3px solid gray;
  padding: 15px;
}
.nav-and-hero > .container button {
  padding: 0;
  align-items: center;
  background: none;
  border: none;
  cursor: pointer;
  fill: #FFFFFF;
}
.nav-and-hero > .container button:hover {
  fill: #D87D4A;
}
.nav-and-hero > .container header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: none;
  flex-direction: none;
  height: 60px;
}
.nav-and-hero > .container header img {
  width: 80px;
}
.nav-and-hero > .container header nav {
  display: none;
}
.nav-and-hero .hero {
  height: 500px;
  background-image: url(/assets/Images/Home-images/d1094b5234f1c27ccfbb091660517ebe.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: none;
  flex-direction: column;
}
.nav-and-hero .hero .container {
  color: white;
  text-align: center;
}
.nav-and-hero .hero .container button {
  margin-top: 20px;
}

.categories {
  padding-top: 120px;
}
.categories .container {
  display: flex;
  align-items: none;
  justify-content: center;
  flex-wrap: none;
  flex-direction: column;
  gap: 70px;
}
.categories .container article {
  height: 150px;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex-wrap: none;
  flex-direction: column;
  background-color: #F1F1F1;
  position: relative;
}
.categories .container article .category-image {
  position: absolute;
  top: -60px;
  width: 100px;
}
.categories .container article .subtitle {
  color: #000000;
}
.categories .container article a {
  background-color: #F1F1F1;
  padding-bottom: 15px;
}

.products-display {
  padding-top: 120px;
}
.products-display .container article {
  margin-top: 15px;
  border-radius: 8px;
}
.products-display .container article:first-of-type {
  padding: 0 15px;
  color: #FFFFFF;
  height: 600px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: none;
  flex-direction: column;
  text-align: center;
  background-color: #D87D4A;
  background-image: url("/assets/from-project-assets/home/desktop/pattern-circles.svg");
  background-repeat: no-repeat;
  background-position-x: 50%;
  background-position-y: -100px;
  background-size: 170%;
}
.products-display .container article:first-of-type img {
  width: 200px;
}
.products-display .container article:nth-of-type(2) {
  padding: 0 15px;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-wrap: none;
  flex-direction: column;
  height: 320px;
  background-image: url("/assets/Images/Devices/Xiaomi/Smart-Watches/Mi-Watch/210303-mi-watch-wm-5-1920x1080.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}
.products-display .container article:last-of-type .image {
  height: 200px;
  border-radius: 8px;
  background-image: url("/assets/Images/Devices/Garmin/Garmin-vivomove/Prezentation2.jpg");
  background-size: cover;
  background-position: center;
}
.products-display .container article:last-of-type div {
  margin-top: 15px;
  border-radius: 8px;
  background-color: #F1F1F1;
  padding: 0 15px;
}
.products-display .container article:last-of-type div h2 {
  padding: 33.2px 0;
  margin: 0;
}
.products-display .container article:last-of-type div button {
  margin-bottom: 30px;
}

.about {
  padding-top: 120px;
  padding-bottom: 120px;
}
.about .container {
  text-align: center;
}
.about .container div {
  border-radius: 8px;
  height: 300px;
  background-image: url("/assets/Images/Devices/Xiaomi/Smart-Watches/Mi-watch-S1-Pro/photos/prezentation-3.jpg");
  background-size: cover;
  background-position: left;
}
.about .container p {
  color: gray;
}
.about .container span {
  color: #D87D4A;
}

footer .container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: column;
  padding: 30px;
  gap: 30px;
  background-color: #000000;
  text-align: center;
}
footer .container img {
  width: 80px;
}
footer .container p {
  color: gray;
}
footer .container .socials {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: none;
  flex-direction: none;
  gap: 15px;
}
footer .container .socials a {
  fill: #FFFFFF;
  font-size: 1.5rem;
}
footer .container .socials a:hover {
  fill: #D87D4A;
}/*# sourceMappingURL=dashboard.css.map */