@use "../default" as *;

@use "../mixins" as *;

@use "../variables" as *;

@use "../spacings" as *;

@use "../typography";

@use "../buttons";

.nav-and-hero {
    background-color: $black;
    
    >.container {
    border-bottom: 3px solid rgba(90, 90, 90, 0.992);
    padding: $base-spacing;
    // width: 100vw

    button {
      padding: 0;
      align-items: center;
      background: none;
      border: none;
      cursor: pointer;
      fill: $white;
      &:hover {
        fill: $orange;
      }
    }

    header {
      @include flex(space-between, center, none, none);
      // padding: $base-spacing;
      height: 60px;
      nav {
        display: none;
      }
    }
  }

  .hero {
    // height: 100vh;
    height: 500px;
    background-image: url(/assets/Images/Home-images/d1094b5234f1c27ccfbb091660517ebe.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
    @include flex(center, center, none, column);

    // AICI AI TOATE SETARILE ASTEA IN CARE AI DOUA METODE DE CENTRARE DAR A DOUA NU FUNCTIONEAZA DEOARECE AI DOUA de container
    .container {
        color: white;
        text-align: center;
        // margin: 0;
        // position: absolute;
        // @include flex(center, center, none ,column);
        // top: 50%;
        // transform: translateY(-50%);
        // padding: $container-spacing;
        // width: calc(100% - 2 * $m-spacing);
        // width: 100%;
    
        button{
            margin-top: 20px;
        }
    }
  }
}


.categories{
 
    .container{
        padding-top: 100px;
        display: flex;
        flex-direction: column;
  
        justify-content: center;
       
       
        gap: 70px;
            article{
                height: 150px;
                border-radius: 5px;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: flex-end;
                background-color: $gray;
                position: relative;

               .category-image{
                position: absolute;
                top: -60px;
                width: 100px;
                // filter: drop-shadow(0px 50px 45px #000000);
               }

               .subtitle{
                color: $black;
               }

               a{
                background-color: $gray;
                padding-bottom: $base-padding;
               }
                    
            }
    }
}

// .categories{
//     .container{
//        .articles{
//             display: flex;
//             flex-direction: column;
//             align-items: center;
//            article{
//                width: 50%;
//                background-color: $gray;
//                // position:relative;
//                .category-image{
//                    // position: absolute;
//                    width: 100px;
//                    // top: -50%;
//                    // width: calc(100% - 2 * $m-spacing);
//                    // padding: 10px;
//                }
//            }
//        }
       
//     }
// }



