@use "../abstracts/" as *;

.about {
  padding-top: $xxl-spacing;
  padding-bottom: $section-spacing;

  .container {
    text-align: center;
    @include flex(center, center, unset, column);
    div {
      &:first-of-type {
        border-radius: $base-border-radius;
        height: 300px;
        width: 100%;
        background-image: url("/assets/Images/Devices/Xiaomi/Smart-Watches/Mi-watch-S1-Pro/presentation-pictures/presentation-1.jpg");
        background-size: cover;
        background-position: left;
      }

      &:last-of-type {
        h2 {
          font-size: $l-font;
        }

        p {
          color: $out-of-color-palette-gray;
        }
        span {
          color: $orange;
        }
      }
    }
  }
}