@use "../abstracts/" as *;

footer {
  position: relative;
  background-color: $black;

  .container {
    @include flex(center, center, wrap, column);
    padding: $m-spacing $base-spacing;
    gap: $m-spacing;

    text-align: center;

    .back-to-top{
      // display: flex;
      // align-items: center;
      // justify-content: center;
      color: white;
      background: none;
      height: 48px;
      width: 48px;
      border: none;
      border-radius: 50%;
      background-color: rgba(0, 0, 0, 0.7);
      cursor: pointer;
      position: fixed;
      // bottom: 80px;
      // bottom: 25px;
      // right: 22px;
      bottom: 2%;
      right: 3.5%;
      z-index: 3;
      transition: color 0.3s ease-in-out;
      display: none;

      svg{
        font-size: 2rem;
      }

      &:hover{
        color: $orange;
      }
    }


    &::before {
      content: "";
      width: 101px;
      height: 4px;
      background-color: $orange;
      position: absolute;
      top: 0;
    }

    img {
      transition: transform 0.2s ease-in-out;
      width: 80px;

      &:hover {
        transform: scale(1.1);
      }
    }

    p {
      color: $out-of-color-palette-gray;
    }
    
    nav {
      text-transform: uppercase;

      .socials {
        @include flex(center, center, unset, unset);
        gap: $base-spacing;
      }
    }
  }
}