@use "../abstracts/" as *;


@mixin medium-media {
 
  .container {
    width: 90%;
    margin: 0 auto; 
    padding: 0; 
  }

  .navigation{
    >.container {
      padding: $base-spacing 0;

      header { 
        @include flex(unset, unset, unset, unset);
        padding: 0;
        gap: $m-spacing;

    

        button {
          &:last-of-type {
            order: 1;
          }
        }

        .search-container{
          margin: 0 ;
          margin-left: auto;
        }

        .nav-toggle{
          top: 80px;
          width: 200px;
          left: 4%; 
        }
      }
    }
  }

  .categories {
    padding: 0;
    padding-top: $section-spacing + 30;

    .container {
      margin: 0 auto;
      @include flex(space-around, unset, unset, unset);
      gap: 10px;
      article {
        div{
          .subtitle{
            font-size: $s-font - 2;
          }
        }
        width: 100%;
      }
    }
  }

  .about {
    .container {
      div {
        &:last-of-type {
          h2 {
            font-size: $h2-font-size;
          }
          p {
            padding: 0 $m-spacing;
          }
        }
      }
    }
  }

  footer {
    .container {
      @include flex(flex-start, center, wrap, unset);
      text-align: unset;
      padding: $m-spacing 0;

      &::after {
        left: 5%;
      }

      nav {
        &:first-of-type{ 
          width: 100%;
          ul {
            @include flex;
            gap: $m-spacing;
          }
        }

        &:last-of-type{
          margin-left: auto;
        }
      }
    }
  }
}


@mixin large-media {
  .container {
    max-width: 1100px;
    padding: 0;
  }

    .navigation{
      >.container {
        header {
          justify-content: space-between;
          align-items: center;
          >button {
            &:first-of-type {
              display: none;
            } 
            &:nth-of-type(2){
              display: none;
            }
            &:last-of-type {
              margin-left: 0;
            }
          }
  
          // NAV REVERTION
          .nav-toggle{ 
            all: revert;
            display: inline-block;
             flex-grow: 2;
             ul {
              @include flex(center, center, none, row);
              gap: $m-spacing;
              font-size: $s-font;
              li{
                &:hover{
                  background-color: transparent;
                }
                padding: 0;
                width:auto;
                a {
                  padding: 0;
                  &:hover{
                    color: $orange;
                  }
                }
              }
            }
          }
  
          nav {
            display: inline-block;
            flex-grow: 2;
            ul {
              @include flex(center, center, none, row);
              gap: $m-spacing;
            }
          }
  
        
        }
      }

    }


    .categories {
    padding-top: $m-section-spacing;

    .container {
      article {
        div{
          height: 200px;
          .subtitle {
            font-size: $m-font ;
            padding-top: $base-spacing;
          }
          .category-image {
            width: 150px;
          }
          .button-3{
            padding-bottom: $m-spacing; 
          }
        }
      }
    }
  }

  .about {
    padding-top: $m-section-spacing;
    .container {
      flex-direction: row;
      //  flex-wrap: wrap;
      div {
        width: 50%;
        &:first-of-type {
          height: 588px;
          width: 50%;
          background-position: 30%;
          order: 1;
        }
        &:last-of-type {
          text-align: left;
          p {
            padding: 0;
          }

          h2,
          p {
            width: 80%;
          }
        }
      }
    }
  }

  footer {
    .container {
      img {
        order: 1;
      }
      nav {
        &:first-of-type {
          width: min-content;
          margin-left: auto;
          order: 2;
        }
        &:last-of-type {
          order: 4;
          align-self: flex-end;
        }
      }

      p {
        width: 70%;
        &:first-of-type {
          order: 3;
        }
        &:last-of-type {
          order: 5; 
        }
      }
    }
  }
}