@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@500&display=swap");
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

a {
  color: #FFFFFF;
  text-decoration: none;
  transition: color 0.3s ease-in-out;
}
a:hover {
  color: #D87D4A;
}

.socials li a {
  fill: #FFFFFF;
  font-size: 1.5rem;
  transition: fill 0.3s ease-in-out;
}
.socials li a:hover {
  fill: #D87D4A;
}

.container {
  padding: 0 15px;
}

img {
  display: block;
}

body {
  font-family: "Manrope", sans-serif;
  font-size: 15px;
  line-height: 25px;
}

h1, h2, h3, h4, h5, h6, .overline, .subtitle {
  text-transform: uppercase;
}

h1 {
  letter-spacing: 2px;
  line-height: 58px;
  font-size: 56px;
}

h2 {
  letter-spacing: 1.5px;
  line-height: 44px;
  font-size: 40px;
}

h3 {
  letter-spacing: 1.15px;
  line-height: 36px;
  font-size: 32px;
}

h4 {
  letter-spacing: 2px;
  line-height: 36px;
  font-size: 28px;
}

h5 {
  letter-spacing: 1.7px;
  line-height: 33px;
  font-size: 24px;
}

h6 {
  letter-spacing: 1.3px;
  line-height: 24px;
  font-size: 18px;
}

.overline {
  letter-spacing: 10px;
  line-height: 19px;
  font-size: 14px;
  color: #D87D4A;
}

.subtitle {
  letter-spacing: 1px;
  line-height: 25px;
  font-size: 14px;
  color: #D87D4A;
}

.button-1, .button-2, .button-2b, .button-3 {
  text-transform: uppercase;
  cursor: pointer;
}

button {
  transition: fill 0.3s ease-in-out;
}
button:hover {
  fill: #D87D4A;
}

.button-1 {
  color: #FFFFFF;
  background-color: #D87D4A;
  border: none;
  padding: 15px 30px;
  transition: background-color 0.3s ease-in-out;
}
.button-1:hover {
  background-color: #FBAF85;
}

.button-2 {
  border: 1px solid #000000;
  background-color: transparent;
  padding: 15px 30px;
  transition: color 0.3s ease-in-out;
  transition: background-color 0.3s ease-in-out;
}
.button-2:hover {
  background-color: #000000;
  color: #FFFFFF;
}

.button-2b {
  border: none;
  background-color: #000000;
  color: #FFFFFF;
  padding: 15px 30px;
  transition: background-color 0.3s ease-in-out;
}
.button-2b:hover {
  background-color: #aaaaaa;
  color: #FFFFFF;
}

.button-3 {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  color: #aaaaaa;
  background-color: #FFFFFF;
  border: none;
}
.button-3:hover {
  color: #D87D4A;
}

input:not([type=checkbox]) {
  font-weight: bold;
  border: 2px solid #F1F1F1;
  padding: 20px 20px;
  border-radius: 10px;
  caret-color: #D87D4A;
  width: 100%;
}
input:focus {
  outline: none;
  border: 2px solid #D87D4A;
}

label {
  text-transform: capitalize;
  font-weight: 700;
}

@-webkit-keyframes pop-out {
  0% {
    transform: scale(1, 0);
  }
  100% {
    transform: scale(1, 1);
  }
}

@keyframes pop-out {
  0% {
    transform: scale(1, 0);
  }
  100% {
    transform: scale(1, 1);
  }
}
@-webkit-keyframes fade {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fade {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@media screen and (min-width: 550px) {
  .container {
    width: 90%;
    margin: 0 auto;
    padding: 0;
  }
  .nav-and-hero .navigation > .container {
    padding: 15px 0;
  }
  .nav-and-hero .navigation > .container header {
    display: flex;
    align-items: unset;
    justify-content: unset;
    flex-wrap: unset;
    flex-direction: unset;
    padding: 0;
    gap: 30px;
  }
  .nav-and-hero .navigation > .container header button:last-of-type {
    order: 1;
  }
  .nav-and-hero .navigation > .container header .search-container {
    margin: 0;
    margin-left: auto;
  }
  .nav-and-hero .navigation > .container header .nav-toggle {
    top: 80px;
    width: 200px;
    left: 4%;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
  }
  .nav-and-hero .navigation > .container header .nav-toggle ul li:last-of-type {
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
  }
  .nav-and-hero .hero .container h1 {
    font-size: 56px;
    margin: 30px 0;
    line-height: 50px;
  }
  .categories {
    padding: 0;
    padding-top: 126px;
  }
  .categories .container {
    margin: 0 auto;
    display: flex;
    align-items: unset;
    justify-content: space-around;
    flex-wrap: unset;
    flex-direction: unset;
    gap: 10px;
  }
  .categories .container article {
    width: 100%;
  }
  .categories .container article div .subtitle {
    font-size: 13px;
  }
  .products-display {
    padding-top: 96px;
  }
  .products-display .container article:first-of-type {
    background-position-x: 50%;
    background-position-y: -300px;
    background-size: 150%;
  }
  .products-display .container article:first-of-type h2 {
    font-size: 56px;
    line-height: 58px;
  }
  .products-display .container article:first-of-type h2,
.products-display .container article:first-of-type p {
    width: 50%;
  }
  .products-display .container article:nth-of-type(2) {
    height: 320px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: left;
  }
  .products-display .container article:nth-of-type(2) div h4 {
    width: 100%;
  }
  .products-display .container article:last-of-type {
    display: flex;
    gap: 20px;
  }
  .products-display .container article:last-of-type div {
    height: 320px;
    margin-top: 0;
    width: 50%;
  }
  .products-display .container article:last-of-type div:first-of-type {
    background-position: 60%;
  }
  .about .container div:last-of-type h2 {
    font-size: 40px;
  }
  .about .container div:last-of-type p {
    padding: 0 30px;
  }
  footer .container {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-wrap: wrap;
    flex-direction: unset;
    text-align: unset;
    padding: 30px 0;
  }
  footer .container::after {
    left: 5%;
  }
  footer .container nav:first-of-type {
    width: 100%;
  }
  footer .container nav:first-of-type ul {
    display: flex;
    align-items: none;
    justify-content: none;
    flex-wrap: none;
    flex-direction: none;
    gap: 30px;
  }
  footer .container nav:last-of-type {
    margin-left: auto;
  }
}/*# sourceMappingURL=home-media-medium.css.map */