@use "../../../abstracts/" as *;


@media screen and (min-width: 550px) {
  .container {
    width: 90%;
    margin: 0 auto;
    padding: 0;
  }


  .nav-and-hero {
    .navigation{
      >.container {
        padding: $base-spacing 0;
  
        header {
          @include flex(unset, unset, unset, unset);
          padding: 0;
          gap: $m-spacing;
  
      
  
          button {
            &:last-of-type {
              order: 1;
            }
          }
  
          .search-container{
            margin: 0 ;
            margin-left: auto;
          }
  
         .nav-toggle{
            top: 5.1rem;
            width: 200px;
            left: 4%; 
            border-bottom-left-radius: $base-border-radius;
            border-bottom-right-radius: $base-border-radius;
            ul{
              li{
                &:last-of-type{
                  border-bottom-left-radius: $base-border-radius;
                 border-bottom-right-radius: $base-border-radius;
                }
              }
            }
          }
        }
      }

    }

    .hero {
      .container {
        h1 {
          font-size: $h1-font-size;
          margin: $m-spacing  0;
          line-height: 4rem;
        }
      }
    }
  }

  .categories {
    padding: 0;
    padding-top: $section-spacing + 2rem;

    .container {
      margin: 0 auto;
      @include flex(space-around, unset, unset, unset);
      gap: 10px;
      article {
        div{
          .subtitle{
            font-size: $s-font - 0.15rem;
          }
        }
        width: 100%;
      }
    }
  }

  .products-display {
    padding-top: $section-spacing;

    .container {
      article {
        &:first-of-type {
          background-position-x: 50%;
          background-position-y: -300px;
          background-size: 150%;

          h2 {
            font-size: $h1-font-size;
            line-height: $h1-line-height;
          }

          h2,
          p {
            width: 50%;
          }
        }

        &:nth-of-type(2) {
          height: 320px;
          // background-position: -10%;
          background-repeat: no-repeat;
          background-size: cover;
          background-position: left;
          div{
              h4{
              width: 100%;
            }
          }
          
        }

        &:last-of-type {
          display: flex;
          gap: $m-gap;
          
          div {
            height: 320px;
            margin-top: 0;
            width: 50%;

            &:first-of-type {
              background-position: 60%;
            }
          }
        }
      }
    }
  }

  .about {
    .container {
      div {
        &:last-of-type {
          h2 {
            font-size: $h2-font-size;
          }
          p {
            padding: 0 $m-spacing;
          }
        }
      }
    }
  }

  footer {
    .container {
      @include flex(flex-start, center, wrap, unset);
      text-align: unset;
      padding: $m-spacing 0;

      // &::after {
      //   left: 2%; 
      // }

      nav {
        &:first-of-type{
          width: 100%;
          ul {
            @include flex;
            gap: $m-spacing;
          }
        }

        &:last-of-type{
          margin-left: auto;
        }
      }
    }
  }
}

// for categories firs solution would be to erase flex-direction and set width for article to 100% and the gap 10px
