@use "../abstracts/" as *;

@use "../components-dashboard/header";

@use "../components-dashboard/categories";

@use "../components-dashboard/about";

@use "../components-dashboard/footer";



.navigation{
    .container{
        
        &:last-of-type{
            padding: 0;
            h2{
                text-align: center; 
                color: $white;
                font-size: $l-font;
                border-bottom: none; 
            }
        }
    }
}


.template-category{ 
    padding-top: $s-top-category-section;
    .container{ 
        article{
            padding-bottom: $xxl-spacing;
            text-align: center;
           

            .image-container{
                background-color: $gray;
                padding: $s-spacing;
                margin-bottom: $l-spacing;
                border-radius: $base-border-radius;
                display: block;
                cursor: pointer;

                img{
                    width: 100%;
                    max-width: 300px;
                    margin: 0 auto;
                }
            }

           div{
            &:last-of-type{
                 display: flex;
                flex-direction: column;
                align-items: center;
            }
           }
            
            p{
                &:not(.overline){
                    margin: $xs-padding 0;
                    margin-top: 0;
                }
            }

            h2{
                font-size: $l-font;
                // width: 50%;

                &:first-of-type{
                    margin-top: 0;
                }
            }

            &:last-of-type{
                padding-bottom: $l-spacing;

                // &:hover{
                //     fill: none;
                // }
            }
          
           
        }

       .pagination{
            margin-top: $m-spacing;

            .pagination-list{
                list-style: none;
                display: flex;
                justify-content: center;
                // gap: 1rem;
                padding: 0;
                margin: 0 auto;
                width: fit-content;
                border: 1px solid $black;
                border-radius: 9px;
    
                .pagination-element{
                    display: flex;
                    align-items: center;
                    padding: 0.5rem 0.65rem;
                    // padding: 0;
                    font-size: 1.5rem;
                     background: none;
                    cursor: pointer;
                    // border: 1px solid $black;
                    transition: background-color 0.3s ease-in-out;
                    &:hover{
                        background-color: $black;
                        color: $white;
                    }
                }

                .current-page{
                    background-color: $black;
                    color: $white;
                }

                button{

                    svg{
                        pointer-events: none;
                    }

                    &:first-of-type{
                        border-top-left-radius: $base-border-radius;
                        border-bottom-left-radius: $base-border-radius;
                    }
                    &:last-of-type{
                        border-top-right-radius: $base-border-radius;
                        border-bottom-right-radius: $base-border-radius;
                    }
                }
            }

        }




    }
}





