@use "../abstracts/" as *;

@use "../components-dashboard/header";

@use "../components-dashboard/categories";

@use "../components-dashboard/about";

@use "../components-dashboard/footer";

.product {
  .container {
    p {
      margin-bottom: 1.5rem;
      a {
        color: $out-of-color-palette-gray;
      }
    }

    article {
      padding-bottom: $xl-spacing;
      &:first-of-type {
        img {
          width: 100%;
          max-width: 250px;
          margin: 0 auto;
        }

        p {
          margin: 1.5rem 0;
          &:last-of-type {
            font-weight: 700;
            font-size: 1.2rem;
          }
        }

        h2 {
          font-size: $l-font;
          width: 200px;
        }

        form {
          display: flex;
          gap: 1.25rem;

          .input-steper {
            display: flex;

            input {
              all: revert;
              text-align: center;
              border: none;
              background-color: $gray;
              &::-webkit-inner-spin-button {
                -webkit-appearance: none;
                margin: 0;
              }
              &::-webkit-outer-spin-button {
                -webkit-appearance: none;
                margin: 0;
              }
              &:focus {
                outline: none;
              }
            }

            button {
              // color: $out-of-color-palette-gray;

              font-size: 1rem;
              border: none;
              cursor: pointer;
              padding: 0.625rem;
              padding: $base-spacing;

              &:hover {
                color: orange;
              }
            }
          }
        }
      }

      &:not(:first-of-type){
        h2{
          font-size: $l-font - 0.25rem;
        }
      }

      &:last-of-type {
        div {
          p{
            color: $out-of-color-palette-gray;

            span {
              color: $orange;
              margin-right: $base-spacing;
            }
          }
        }
      }
    }

    .prezentation-images{

    }
  }
}

.you-may-like {
  .container {
    @include flex(center, unset, unset, column);
    gap: $xxl-gap;
    padding: 0;

    article {
      &:hover {
        z-index: 1;
      }

      div {
        transition: transform 0.2s ease-in-out;
        border: none;
        &:hover {
          transform: scale(1.1);
          box-shadow: 0px 0px 20px 1px rgb(150, 150, 150);
          border-radius: $base-border-radius;
        }

        border-radius: $base-border-radius;
        @include flex(flex-end, center, unset, column);

        .category-image {
          background-color: gray;
          width: 100px;
        }
      }
    }
  }
}
