@use "../abstracts/" as *;

@use "../components-dashboard/header";

@use "../components-dashboard/categories";

@use "../components-dashboard/about";

@use "../components-dashboard/footer";



.product {
  .container {
    padding: 0 $xs-padding;
    p {
      margin-bottom: 1.5rem;
      a {
        color: $out-of-color-palette-gray;
        cursor: pointer;
          transition: color 0.3s ease-in-out;
        &:hover{
          color: $orange;
        }
      }
    }

    article {
      padding-bottom: $xl-spacing;
      &:first-of-type {
        .image-container{
          background-color: $gray;
          border-radius: $base-border-radius;

          img {
            width: 100%;
            max-width: 350px;
            margin: 0 auto;
          }
        }

        .product-info{
          max-width: 340px;
          p {
            margin: 10% 0;
            // &:last-of-type {
            //   font-weight: 700;
            //   font-size: 1.3rem;
            // }
          }

          strong{
           margin: $base-spacing 0;
           display: block;
          }
  
          h2 {
            font-size: $l-font;
            // width: 90%;
          }
  
          form {
            display: flex;
            gap: 1.25rem;
  
            .input-steper {
              display: flex;
  
              input {
                all: revert;
                text-align: center;
                border: none;
                background-color: $gray;
                &::-webkit-inner-spin-button {
                  -webkit-appearance: none;
                  margin: 0;
                }
                &::-webkit-outer-spin-button {
                  -webkit-appearance: none;
                  margin: 0;
                }
                &:focus {
                  outline: none;
                }
              }
  
              button {
                color: $out-of-color-palette-gray;
                background-color: $gray;
                font-size: 1rem;
                border: none;
                cursor: pointer;
                padding: 0.625rem;
                padding: $base-spacing;
  
                &:hover {
                  color: orange;
                }
              }
            }
          }

        }
      }

      &:not(:first-of-type) {
        h2 {
          font-size: $l-font - 0.25rem;
        }
      }

      &:last-of-type {
        .inside-box {
          p {
            color: $out-of-color-palette-gray;

            span {
              color: $orange;
              margin-right: $base-spacing;
            }
          }
        }
      }
    }

    .presentation-images {
      padding-bottom: $s-section-spacing;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        gap: $s-gap;

      img {
        border-radius: $base-border-radius;
        width: 100%;
      }

      div{
        display: flex;
        flex-direction: column;
        gap: $s-gap;
      }
    }
  }
}

.you-may-like {
  padding-bottom: $s-section-spacing;
  .container {
    // padding: 0;
    text-align: center;
    
    .recommended-products{
      @include flex(center, unset, unset, column);
      gap: $xl-spacing;
      article {
        div {
          a{
            width: 100%;
            display: flex;
            justify-content: center;
            background-color: $gray;
            border-radius: $base-border-radius;
            padding: 0.625rem 0;
            
            .category-image {
              width: 90px;
            }
          }
  
          h3{
            font-size: 1.5rem;
          }
  
        }
      }
    }
  }
}
