@use "../abstracts/" as *;

body {
  @include flex(center, center, unset, column);
  background-color: $light-gray;

  
}

section{
  height: 100vh;
  @include flex(unset, center, unset, unset);

  .container {
    width: 100vw;
    height: 100vh;
    border-radius: $base-border-radius;
    background-color: $white;
    form {
      // @include just-flex;
  
      h2 {
        text-align: center;
        margin: 0;
        padding: $m-spacing;
      }
  
  
  
      div {
        margin-top: $base-spacing - 0.3rem;
        @include just-flex;
        gap: $base-spacing - 0.3rem;
         
      }
  
      a {
        align-self: flex-end;
        text-transform: uppercase;
      }
  
      .terms {
        margin-top: $base-spacing;
          flex-direction: row;
          a{
            color: $black;
            font-weight: bold;
            
            &:hover{
              color: $orange;
            }
          }
      }
  
      .buttons {
        margin: $m-spacing 0 ;
        flex-direction: row;
      
        button, a{
          width: 100%;
        
        }

        .button-3{
          background-color: inherit; 
          padding: $base-spacing $m-spacing;
          
        }
      }
  
    }
  }

}  

