@use "../typography" as *;
@use "../default" as *;
@use "../variables" as *;
@use "../spacings" as *;
@use "../mixins" as *;
@use "../form-els" as *;
@use "../buttons";

body {
  @include flex(center, center, none, column);
  background-color: $light-gray;

  
}

section{
  height: 100vh;
  @include flex(none, center, none, none);

  .container {
    width: 100vw;
    height: 100vh;
    border-radius: $base-border-radius;
    form {
      // @include just-flex;
  
      h2 {
        text-align: center;
        margin: 0;
        padding: $m-spacing;
      }
  
  
  
      div {
        margin-top: $base-spacing - 5;
        @include just-flex;
        gap: $base-spacing - 5;
         
      }
  
      a {
        align-self: flex-end;
        text-transform: uppercase;
      }
  
      .terms {
        margin-top: $base-spacing + 10;
          flex-direction: row;
          a{
            color: $black;
            font-weight: bold;
            
            &:hover{
              color: $orange;
            }
          }
      }
  
      .buttons {
        margin: $m-spacing 0 ;
        flex-direction: row;
      
        button, a{
          width: 100%;
        
        }

        .button-3{
          background-color: inherit; 
          padding: $base-spacing $m-spacing;
          
        }
      }
  
    }
  }

}  

