$base-spacing: 15px;
$m-spacing: $base-spacing * 2;
$l-spacing: $base-spacing * 3;
$xl-spacing: $base-spacing * 4;
$xxl-spacing:  $base-spacing * 8;

$container-spacing: $base-spacing ;
$base-padding: 15px;
$base-border-radius: 8px;








